@{
    ViewBag.Title = "Заказ";
}

<div class="text-center m-4">
    <h2>Cool</h2>
    <p>Ваш заказ принят</p>
    <a asp-action="Index" asp-controller="Customer" class="btn btn-primary">OK</a>
</div>